
$red: red;
$vertical: true;
@import "../global.scss";

.timelinecontainer {
  margin: 0 auto;
  padding: 3rem;
  font-size: 16px;
  color: $main-font-color;
background-color: $white-color;
font-family: $secondary-font;
}

.timelinetitle {
    font-family: Unbounded, "Unbounded Placeholder", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-variant: normal;
    letter-spacing: normal;
    line-height: 50.4px;
    text-decoration: none solid rgb(224, 52, 0);
    text-indent: 0px;
    text-transform: none;
    white-space: pre;
    word-spacing: 0px;
    color: rgb(224, 52, 0);
}

#timeline {
  list-style: none;
  margin: 50px 0 30px 120px;
  padding-left: 30px;
  border-left: 5px solid $footer-color;

  li {
    margin: 40px 0;
    position: relative;
  }

  p {
    margin: 0 0 15px;
  }
}

.date {
  margin-top: -10px;
  top: 50%;
  left: -158px;
  font-size: 0.95em;
  line-height: 20px;
  position: absolute;
  font-family: $secondary-font;
}

.circle {
  margin-top: -10px;
  top: 50%;
  left: -44px;
  width: 20px;
  height: 20px;
  background: $footer-color;
  border: 5px solid $footer-color;
  border-radius: 50%;
  display: block;
  position: absolute;
}

.content {
  max-height: 20px;
  padding: 50px 20px 0;
  border-color: transparent;
  border-width: 2px;
  border-style: solid;
  border-radius: 0.5em;
  position: relative;

  &::before {
    border-right-color: inherit;
    border-width: 20px;
    top: 50%;
    margin-top: -20px;
  }

  &::after {
    border-right-color: $footer-color;
    border-width: 17px;
    top: 50%;
    margin-top: -17px;
  }

  p {
    max-height: 0;
    color: transparent;
    text-align: justify;
    word-break: break-word;
    hyphens: auto;
    overflow: hidden;
  }
}

label {
  font-size: 1.3em;
  position: absolute;
  z-index: 100;
  cursor: pointer;
  top: 20px;
  transition: transform 0.2s linear;
}

.radio {
  display: none;

  &:checked + .relative label {
    cursor: auto;
    transform: translateX(42px);
  }

  &:checked + .relative .circle {
    background: $red;
  }

  &:checked ~ .content {
    max-height: 180px;
    border-color: $footer-color;
    margin-right: 20px;
    transform: translateX(20px);
    transition: max-height 0.4s linear, border-color 0.5s linear,
      transform 0.2s linear;

    p {
      max-height: 200px;
      color: $footer-color;
      transition: color 0.3s linear 0.3s;
    }
  }
}